API/routes/xml/validate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="countries">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="country">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Code"/>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:string" name="Continent"/>
              <xs:element type="xs:string" name="Region"/>
              <xs:element type="xs:int" name="SurfaceArea"/>
              <xs:element type="xs:int" name="Population"/>
              <xs:element type="xs:float" name="LifeExpectancy"/>
              <xs:element type="xs:short" name="GNP"/>
              <xs:element type="xs:string" name="HeadOfState"/>
              <xs:element type="xs:byte" name="Capital"/>
              <xs:element type="xs:string" name="Code2"/>
              <xs:element name="Cities" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Name"/>
                    <xs:element type="xs:string" name="CountryCode"/>
                    <xs:element type="xs:int" name="Population"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Languages" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="CountryCode"/>
                    <xs:element type="xs:string" name="Language"/>
                    <xs:element type="xs:string" name="IsOfficial"/>
                    <xs:element type="xs:float" name="Percentage"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>